{% extends "layout.html" %}

{% block title %}
    Instructions
{% endblock %}

{% block main %}
    <h1>
        Instructions
    </h1>
    <p>
        <strong>Welcome to sanitation!</strong> The goal of this website is to help you learn some basic sanitation skills, so that you can make more informed choices in the
        future. Hopefully, once you become an expert about personal hygiene and sanitation, you can help others in your community make better decisions and create healthier
        lives for everyone! <strong>नमस्ते!</strong>
    </p>
{% endblock %}
