{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <br>
    <h1>
        Login
    </h1>
    <br><br>
    <form action="/login" method="post">
        <input autofocus class="form-control" autocomplete="on" name="username" placeholder="Username" type="text">
        <br><br>
        <input autofocus class="form-control" autocomplete="on" name="password" placeholder="Password" type="password">
        <br><br>
        <input type="submit">
    </form>
{% endblock %}